<ng-container>
    <mat-table #basicTable [dataSource]="myOrders" class="mat-elevation-z8">
      <ng-container matColumnDef="trackingId">
        <mat-header-cell *matHeaderCellDef>Número de orden</mat-header-cell>
        <mat-cell *matCellDef="let myOrder">{{ myOrder.trackingId }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let myOrder">{{ myOrder.amount }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
        <mat-cell *matCellDef="let myOrder">{{ myOrder.date | date: 'dd/MM/yyyy' }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
        <mat-cell *matCellDef="let myOrder">{{ myOrder.orderStatus }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
        <mat-cell *matCellDef="let myOrder">
          <span *ngIf="myOrder.orderStatus == 'Delivered'">
            <button mat-raised-button color="primary" type="submit" routerLink="/customer/ordered_products/{{myOrder.id}}">Reseña</button>
          </span>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </ng-container>
  