.order-status-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.order-status-card {
  width: 30%; /* Ajusta el ancho de las tarjetas */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  transition: transform 0.3s ease-in-out;
}

.order-status-card:last-child {
  margin-right: 0;
}

.order-status-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.status-avatar {
  background-color: #263238;
  color: #fff;
  font-size: 32px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-card-title {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.status-value {
  font-size: 36px;
  color: #263238;
  font-weight: bold;
  margin-top: 10px;
}
